html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'TT Lakes', sans-serif;
  @media (min-width: 1440px) {
    display: flex;
  }
}

.blure--active {
  filter: blur(5px);
}
