.header {
  &__button {
    &--hidden {
      display: none;
      @media (min-width: $screen-md) {
        display: flex;
      }
    }
    @media (min-width: $screen-lg) {
      display: none;
    }
  }
  &__logo {
    @media (min-width: $screen-lg) {
      display: none;
    }
    margin-right: auto;
  }
  &__divider {
    &--hidden {
      display: none;
      @media (min-width: $screen-md) {
        display: flex;
      }
    }
    &--hidden768 {
      @media (min-width: $screen-md) {
        display: none;
      }
    }
    @media (min-width: $screen-lg) {
      display: none;
    }
  }
  &__menu {
    border-bottom: 1px solid $color-border;
    background-color: $color-main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 16px;
    @media (min-width: $screen-lg) {
      border-bottom: none;
      background-color: #f8f8f8;
    }
  }
}
