.main {
  background-color: $color-site;
  &__row {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    margin-right: 16px;
    @media (min-width: $screen-lg) {
      padding-top: 0;
    }
  }
}
.row {
  &__button {
    display: none;
    border: none;
    background-color: $color-site;
    font-family: inherit;
    cursor: pointer;
    &--info {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-align: right;
    }
    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  &__title {
    position: relative;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    padding-left: 16px;
    margin: 0;
    margin-right: auto;
    @media (min-width: $screen-lg) {
      padding-left: 24px;
    }
  }
  &__title::before {
    content: '';
    background-color: $color-before;
    position: absolute;
    width: 4px;
    height: 40px;
    border-radius: 0 10px 10px 0;
    left: 0;
  }
}
