.main {
  &__menu {
    overflow-x: auto;
    white-space: nowrap;
    margin: 20px;
    margin-left: 16px;
    display: flex;
    @media (min-width: $screen-md) {
      margin-left: 24px;
    }
    @media (min-width: $screen-lg) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
.menu {
  &__button {
    font-family: inherit;
    padding: 5px 15px;
    border: none;
    background-color: $color-site;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    opacity: 0.5;
    cursor: pointer;
    &--selected {
      background-color: $color-main;
      border: 2px solid $color-select;
    }
  }
}
