@import 'body.scss';
@import 'fonts.scss';
@import 'variables.scss';
@import 'fixed.scss';
@import 'header.scss';
@import 'mainrow.scss';
@import 'mainmenu.scss';
@import 'aboutcontent.scss';
@import 'repairbrands';
@import 'service.scss';
@import 'price.scss';
@import 'footer.scss';
@import 'feedback.scss';
