$color-main: #ffffff;
$color-border: #d9fff5;
$color-button: #ff3e79;
$color-shadow: rgba(22, 32, 93, 0.3);
$color-before: #41f6d7;
$color-link: #1b1c21;
$color-site: #f8f8f8;
$color-select: #b8ffec;
$color-brandsborder: #eaeaea;
$color-bullet: #dddddd;
$color-bulletactive: #b5b6bc;

$screen-md: 768px;
$screen-lg: 1440px;
